body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: #f3e40c 2px;
  padding: 20px;
  text-align: center;
  background-image: url("https://tse1.mm.bing.net/th/id/OIP.WzeTlIUjGrHzCfecxxCrmwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: background;
  font-size: x-large;
  @font-face {
  font-family: minhafonte;
  src: url(minha_fonte.ttf); format("truetype");
}
}

nav {
  background-image: url("https://tse1.mm.bing.net/th/id/OIP.WzeTlIUjGrHzCfecxxCrmwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: background;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #f3e40c;
  text-decoration: none;
  margin: 0 10px;
  font-family: candara;
}

main {
  padding: 20px;
  text-align: center;
}

section {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ccc;
}

footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

@font-face {
  font-family: minhafonte;
  src: url(minha_fonte.ttf); format("truetype");
}
